################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SahaBookStore/.vs/SahaBookStore
/SahaBookStore/bin/Debug/netcoreapp3.1
/SahaBookStore/obj
